.watermark {
  opacity: 0.3;
  color: #262626;
  left: 500px;
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: -1;
}

.profile-section {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  width: 58%;
  flex-grow: wrap;
}

.profile-photo {
  border-radius: 20px;
  margin: 30px 0;
  background: url(../src/img/profile.png);
  width: 250px;
  height: 500px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  filter: grayscale(100%);
  animation: slide-in 1s ease;
  transition: 1s ease;
}

.profile-photo:hover {
  filter: grayscale(0%);
}

.techs-section {
  margin: 30px 0;
  width: 60%;
}

.techs-section h3 {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
}
